<admin-header></admin-header>
<admin-sidebar></admin-sidebar>
<div id="page-content">
    <div class="content-title">Set Institute Holiday</div>
    <div class="content-box">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field>
                    <input [(ngModel)]="date" matInput [matDatepicker]="picker" placeholder="Date"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <button mat-raised-button color="primary" (click)="submit()" >Submit</button>
            </div>
        </div>
    </div>

    <div class="content-title">Active Holidays</div>
    <table class="pinnacle-table">
        <tr>
            <th>Date</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let date of holidays;let i=index">
            <td [innerText]="date.leaveDate"></td>
            <td>
                <button mat-mini-fab color="warn" (click)="deleteHoliday(date.leaveDate,i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>

</div>
<loading [show]="loading"></loading>
