<form #leaveForm="ngForm" (ngSubmit)="updateLeave(leaveForm.value)">
    <mat-form-field class="full-width">
        <mat-label>Leave Content</mat-label>
        <textarea name="leaveContent" rows="5" matInput [(ngModel)]="leave.leaveContent" required></textarea>
    </mat-form-field>
    <div style="height:10px"></div>
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field>
                <input name="fromDate" [(ngModel)]="fromDate" matInput [matDatepicker]="fromPicker"
                    placeholder="From Date" required>
                <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field>
                <input name="toDate" [(ngModel)]="toDate" matInput [matDatepicker]="toPicker"
                    placeholder="To Date" required>
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field>
                <mat-label>Reason</mat-label>
                <input name="reason" [(ngModel)]="leave.reason" matInput placeholder="Like Marriage Event etc." required>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <button type="submit" mat-raised-button color="primary" [disabled]="leaveForm.invalid">Submit</button>
        </div>
    </div>
</form>
